# fvwm theme
#
# fvwm config with catppuccin colorscheme
#
# dependencies: stalonetray, xterm, and dmenu.
# 	Sarasa Mono K Nerd Font, gkrellm.
#
# based on default fvwm2 config and fvwm2.org panel scripts
#
#
# Last Modified: Mon Feb 17 05:59:27 UTC 2025
#

# Set variables

InfoStoreAdd terminal xterm

###########
# 1: Functions
#
# Fvwm can use custom functions for various tasks.
# The syntax for defining a function named FunctionName is:
#
#   DestroyFunc FunctionName
#   AddToFunc FunctionName
#   + I [Action to do Immediately]
#   + C [Action to do on a Mouse Click]
#   + D [Action to do on a Mouse Double Click]
#   + H [Action to do on a Mouse Hold]
#   + M [Action to do on a Mouse Motion]
###########

# Initialize

DestroyFunc StartFunction
AddToFunc   StartFunction
+ I Module FvwmButtons Panel
+ I Module FvwmEvent EventNewDesk
+ I Exec exec xsetroot -solid "#1e1e2e"
+ I Exec exec gkrellm -geometry -0+30

# Mouse Bindings Functions
DestroyFunc RaiseMoveX
AddToFunc RaiseMoveX
+ I Raise
+ M $0
+ D $1

DestroyFunc RaiseMove
AddToFunc RaiseMove
+ I Raise
+ M $0

DestroyFunc MoveToCurrent
AddToFunc MoveToCurrent
+ I ThisWindow MoveToDesk

# Function: IconManClick
#
# This function is run from FvwmIconMan when the button is clicked.

DestroyFunc IconManClick
AddToFunc   IconManClick
+ I ThisWindow (Raised, !Shaded, !Iconic, CurrentPage) Iconify
+ I TestRc (Match) Break
+ I ThisWindow WindowShade off
+ I ThisWindow Iconify off
+ I ThisWindow Raise
+ I ThisWindow (AcceptsFocus) FlipFocus

# Function: ToggleTitle
#
# This function will toggle if fvwm shows the TitleBar.

DestroyFunc ToggleTitle
AddToFunc   ToggleTitle
+ I ThisWindow (State 1) WindowStyle Title
+ I TestRc (Match) State 1 False
+ I TestRc (Match) Break
+ I WindowStyle !Title
+ I State 1 True

# Function: ChangeDesk
#
# This function is called by FvwmEvent every time the Desk is changed.

DestroyFunc ChangeDesk
AddToFunc   ChangeDesk
+ I SendToModule FvwmButtons ChangeButton desk0 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk1 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk2 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk3 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk4 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk5 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk6 Colorset 10
+ I SendToModule FvwmButtons ChangeButton desk$0 Colorset 11

DestroyFunc	OpenInTerminal
AddToFunc	OpenInTerminal
+ I Exec exec $[infostore.terminal] -e $0

#############
# 2: Styles #
#############

DesktopName 0 Main
DesktopSize 1x1

# EdgeScroll will move the view port between the Pages when the mouse
# moves to the edge of the screen. This set the amount of distance to
# scroll at 100% (full page) and the EdgeResistance which is a timer
# for how long the mouse as at the edge before it scrolls.
#
# Set EdgeScroll 0 0 and/or EdgeResistance -1 to disable.
EdgeScroll 0 0
EdgeResistance -1
EdgeThickness 1
Style * EdgeMoveDelay 350, EdgeMoveResistance 350

# EwmhBaseStruts [left] [right] [top] [bottom]
# Reserves space along the edge(s) of the Screen that will not
# be covered when maximizing or placing windows.

EwmhBaseStruts 0 0 30 0

# This sets the ClickTime and MoveThreshold used to determine
# Double Clicks, Hold and Move for the mouse.
ClickTime 250
MoveThreshold 3

# Sets the focus style to SloppyFocus and a mouse click
# in a window will Raise it.
Style * SloppyFocus, MouseFocusClickRaises

# Default Font
DefaultFont "xft:Sarasa Mono K Nerd Font:Bold:size=12:antialias=True"

# Window Placement
Style * MinOverlapPlacement, GrabFocusOff, !UsePPosition

# Sets all windows to OpaqueMove (vs a wired frame) and  windows will
# snap to each other and the edge of the screen.
OpaqueMoveSize unlimited
Style * ResizeOpaque, SnapAttraction 15 SameType ScreenAll, SnapGrid

# Transient Windows (such as open file windows)
Style * DecorateTransient, StackTransientParent
Style * !FPGrabFocusTransient, FPReleaseFocusTransient

# WindowShade
Style * WindowShadeScrolls, WindowShadeSteps 10

# Ignore Numlock and other modifiers for bindings
# See http://fvwm.org/documentation/faq/#why-do-numlock-capslock-and-scrolllock-interfere-with-clicktofocus-andor-my-mouse-bindings
IgnoreModifiers L25

# Decor Styles
Style * BorderWidth 5, HandleWidth 5, MWMButtons, FvwmBorder, FirmBorder
Style * Colorset 1, HilightColorset 2
Style * BorderColorset 3, HilightBorderColorset 4

# Disable Icons from appearing on desktop.
# Comment this out or use Style * Icon to get the icons back.
Style * !Icon

# Window Specific Styles
Style Panel !Title, !Borders, !Handles, Sticky, \
                 WindowListSkip, NeverFocus
Style gkrellm !Title, !Borders, !Handles, Sticky, \
	  	WindowListSkip, NeverFocus

# 3: Color Schemes
#   0 - Default
#   1 - Inactive Windows
#   2 - Active Window
#   3 - Inactive Windows Borders
#   4 - Active Windows Borders
#   5 - Menu - Inactive Item
#   6 - Menu - Active Item
#   7 - Menu - Grayed Item
#   8 - Menu - Title
#   9 - Reserved
#  10+ Modules
#      10 - Module Default
#      11 - Module Hilight
#      12 - Module ActiveButton (Mouse Hover)
#      13 - FvwmPager Active Page
#      14 - FvwmIconMan Iconified Button
###########

Colorset 0  fg #cdd6f4, bg #1e1e2e, hi, sh, Plain, NoShape
Colorset 1  fg #cdd6f4, bg #181825, hi, sh, Plain, NoShape
Colorset 2  fg #cdd6f4, bg #1e1e2e, hi, sh, Plain, NoShape
Colorset 3  fg #cdd6f4, bg #11111b, hi #cba6f7, sh #8f7da3, Plain, NoShape
Colorset 4  fg #cdd6f4, bg #1e1e2e, hi #89dceb, sh #74c7ec, Plain, NoShape
Colorset 5  fg #cdd6f4, bg #181825, hi, sh, Plain, NoShape
Colorset 6  fg #1e1e2e, bg #fab387, hi, sh, Plain, NoShape
Colorset 7  fg #f2cdcd, bg #1e1e2e, hi, sh, Plain, NoShape
Colorset 8  fg #ffffff, bg #94e2d5, hi, sh, Plain, NoShape
Colorset 10 fg #1e1e2e, bg #b4befe, hi #cdd6f4, sh #89b4fa, Plain, NoShape
Colorset 11 fg #1e1e2e, bg #f38ba8, hi #f5c2e7, sh #eba0ac, Plain, NoShape
Colorset 12 fg #1e1e2e, bg #f9e2af, hi, sh, Plain, NoShape
Colorset 13 fg #1e1e2e, bg #a6e3a1, hi, sh, Plain, NoShape
Colorset 14 fg #1e1e2e, bg #89b4fa, hi #89dceb, sh #74c7ec, Plain, NoShape

#######
# 4: Menus
###########
MenuStyle * MenuColorset 5, ActiveColorset 6, GreyedColorset 7, TitleColorset 8
MenuStyle * Hilight3DOff, HilightBack, HilightTitleBack, SeparatorsLong
MenuStyle * TrianglesSolid, TrianglesUseFore
MenuStyle * ItemFormat "%|%3.1i%5.3l%5.3>%|"
MenuStyle * Font "xft:Sarasa Mono K Nerd Font:Bold:size=12:antialias=True"

# Root Menu
#
# The root menu will PopUp with a click in the root
# window or using alt-f1 (or menu).
DestroyMenu MenuFvwmRoot
AddToMenu   MenuFvwmRoot "Fvwm" Title
+ "&Programs%icons/programs.png%" Popup MenuPrograms
+ "&Terminal%icons/terminal.png%" Exec exec $[infostore.terminal]
+ "Launcher" Exec exec dmenu_run
Test (x emacs) + "Emacs" Exec exec emacs
Test (x emacs) + "Emacs (Terminal)" Exec exec xterm -e emacs -nw
Test (x firefox) + "Firefox" Exec exec firefox
Test (x firefox-esr) + "Firefox-esr" Exec exec firefox-esr
+ "" Nop
+ "&Quit%icons/quit.png%"	Popup LogOutMenu

# Programs Menu
#
# This test for some common programs and adds them to the menu.
# When adding programs you don't need to use the Test (x foo)
# lines as this is only to help make this menu portable.
DestroyMenu MenuPrograms
AddToMenu   MenuPrograms "Programs" Title
Test (x firefox) + "Firefox" Exec exec firefox
Test (x firefox-esr) + "Firefox-esr" Exec exec firefox-esr
Test (x vi) + "Vi" OpenInTerminal vi
Test (x emacs) + "Emacs" Exec exec emacs
Test (x emacs) + "Emacs (Terminal)" Exec exec xterm -e emacs -nw
Test (x vlc) + "VLC" Exec exec vlc

# Window Operations Menus
DestroyMenu MenuWindowOps
AddToMenu   MenuWindowOps
+ "Move"      Move
+ "Resize"    Resize
+ "Iconify"   Iconify
+ "Maximize"  Maximize
+ "Shade"     WindowShade
+ "Stick"     Stick
+ "" Nop
+ "Close"     Close
+ "More..."   Menu MenuWindowOpsLong This 0 0

DestroyMenu MenuWindowOpsLong
AddToMenu   MenuWindowOpsLong
+ "Move"                Move
+ "Resize"              Resize
+ "(De)Iconify"         Iconify
+ "(Un)Maximize"        Maximize
+ "(Un)Shade"           WindowShade
+ "(Un)Sticky"		Stick
+ "(No)TitleBar"	Pick (CirculateHit) ToggleTitle
+ "Send To"             Popup MenuSendTo
+ "" Nop
+ "Close"               Close
+ "Destroy"             Destroy
+ "" Nop
+ "Raise"		Raise
+ "Lower"		Lower
+ "" Nop
+ "StaysOnTop"          Pick (CirculateHit) Layer 0 6
+ "StaysPut"            Pick (CirculateHit) Layer 0 4
+ "StaysOnBottom"       Pick (CirculateHit) Layer 0 2
+ "" Nop
+ "Identify"            Module FvwmIdent

DestroyMenu MenuIconOps
AddToMenu   MenuIconOps
+ "(De)Iconify"         Iconify
+ "(Un)Maximize"        Maximize
+ "(Un)Shade"           WindowShade
+ "(Un)Sticky"		Stick
+ "(No)TitleBar"	Pick (CirculateHit) ToggleTitle
+ "Send To"             Popup MenuSendTo
+ "" Nop
+ "Close"               Close
+ "Destroy"             Destroy
+ "" Nop
+ "Raise"		Raise
+ "Lower"		Lower
+ "" Nop
+ "StaysOnTop"          Pick (CirculateHit) Layer 0 6
+ "StaysPut"            Pick (CirculateHit) Layer 0 4
+ "StaysOnBottom"       Pick (CirculateHit) Layer 0 2
+ "" Nop
+ "Identify"            Module FvwmIdent

DestroyMenu MenuSendTo
AddToMenu MenuSendTo
+ "Current" MoveToCurrent
+ "Desk" PopUp MenuSendToDesk

DestroyMenu MenuSendToDesk
AddToMenu   MenuSendToDesk
+ "Desk 0"	MoveToDesk 0 0
+ "Desk 1"	MoveToDesk 0 1
+ "Desk 2"	MoveToDesk 0 2
+ "Desk 3"	MoveToDesk 0 3
+ "Desk 4"	MoveToDesk 0 4
+ "Desk 5"	MoveToDesk 0 5
+ "Desk 6"	MoveToDesk 0 6

DestroyMenu		LogOutMenu
AddToMenu		LogOutMenu	"Logout Menu" Title
+ "Logout" 		Quit
+ ""			Nop
+ "Restart fvwm"	Restart fvwm
+ "Refresh"		Refresh
+ "Recapture"		Recapture

#######
# 5: Mouse and Key bindings
#
# Contexts:
#     R = Root Window                 rrrrrrrrrrrrrrrrrrrrrr
#     W = Application Window          rIrrrr<---------^rrrrr
#     F = Frame Corners               rrrrrr[13TTTT642]rrrrr
#     S = Frame Sides                 rIrrrr[wwwwwwwww]rrrrr
#     T = Title Bar                   rrrrrr[wwwwwwwww]rrrrr
#     I = Icon                        rIrrrrv_________>rrrrr
#                                     rrrrrrrrrrrrrrrrrrrrrr
#
#     Numbers are buttons: [1 3 5 7 9  TTTTT  0 8 6 4 2]
#
# Modifiers: (A)ny, (C)ontrol, (S)hift, (M)eta, (N)othing
#
# Format: Key <X>  <Context> <Modifier> <Action>
#         Mouse <X> <Context> <Modifier> <Action>
####################

# Keymaps

Silent Key F1 A M Menu MenuFvwmRoot
Silent Key Menu A A Menu MenuFvwmRoot
Silent Key Tab A M WindowList Root c c NoDeskSort, SelectOnRelease Meta_L
Silent Key F1 A C GotoDesk 0 0
Silent Key F2 A C GotoDesk 0 1
Silent Key F3 A C GotoDesk 0 2
Silent Key F4 A C GotoDesk 0 3
Silent Key F5 A C GotoDesk 0 4
Silent Key F6 A C GotoDesk 0 5
Silent Key F7 A C GotoDesk 0 6
Silent Key D A 4 Exec exec dmenu_run
Silent Key T A 4 Exec exec $[infostore.terminal]

# Window Buttons: [1 3 5 7 9  TTTTT  0 8 6 4 2]
#   1 - Open the WindowOps menu.
#   2 - Close on single click, Destroy on double click.
#   4 - Maximize (right/middle button will only maximize vertical/horizontal)
#   6 - Iconify (minimize)
Mouse 1 1 A Menu MenuWindowOps Delete
Mouse 1 2 A Close
Mouse 1 4 A Maximize 100 100
Mouse 2 4 A Maximize 0 100
Mouse 3 4 A Maximize 100 0
Mouse 1 6 A Iconify

#   TitleBar: Click to Raise, Move, Double Click to Maximize
#             Mouse Wheel Up/Down to WindowShade On/Off
#   Borders: Click to raise, Move to Resize
#   Root Window: Left Click - Main Menu
#                Right Click - WindowOps Menu
#                Middle Click - Window List Menu
#   Right click TitleBar/Borders for WindowOps Menu

Mouse 1	T    A RaiseMoveX Move Maximize
Mouse 1	FS   A RaiseMove Resize
Mouse 4	T    A WindowShade True
Mouse 5	T    A WindowShade False
Mouse 1	R    A Menu MenuFvwmRoot
Mouse 2	R    A WindowList
Mouse 3	R    A Menu MenuWindowOpsLong
Mouse 1	I    A RaiseMoveX Move "Iconify off"
Mouse 3	T    A Menu MenuWindowOps
Mouse 3 I    A Menu MenuIconOps

#######
# 6: Window Decor
#
# Buttons Locations: [1 3 5 7 9  TTTTT  0 8 6 4 2]
#
#   1 - WindowOps Menu
#   2 - Close
#   4 - Maximize
#   6 - Minimize
###########
TitleStyle Centered Height 20 -- Flat
ButtonStyle All ActiveUp Vector 5 15x15@4 15x85@3 85x85@3 85x15@3 \
                15x15@3 -- Flat
ButtonStyle All ToggledActiveUp Vector 5 15x15@4 15x85@3 85x85@3 \
                85x15@3 15x15@3 -- Flat
ButtonStyle All ActiveDown Vector 5 20x20@4 20x80@3 80x80@3 80x20@3 \
                20x20@3 -- Flat
ButtonStyle All ToggledActiveDown Vector 5 20x20@4 20x80@3 80x80@3 \
                80x20@3 20x20@3 -- Flat
ButtonStyle All ToggledInactive Vector 5 47x47@3 57x53@3 53x53@3 \
                53x47@3 47x47@3 -- Flat
ButtonStyle All Inactive Vector 5 47x47@3 57x53@3 53x53@3 53x47@3 \
                47x47@3 -- Flat
AddButtonStyle 1 Active Vector 5 45x45@3 55x45@3 55x55@3 45x55@3 45x45@3
AddButtonStyle 2 Active Vector 4 35x35@3 65x65@3 65x35@4 35x65@3
AddButtonStyle 4 Active Vector 8 30x70@3 30x30@3 70x30@3 70x70@3 30x70@3 \
                 30x50@4 50x50@3 50x70@3
AddButtonStyle 4 ToggledActiveUp Vector 8 30x70@3 30x30@3 70x30@3 70x70@3 \
                 30x70@3 50x30@4 50x50@3 70x50@3
AddButtonStyle 6 Active Vector 5 35x60@3 65x60@3 65x50@3 35x50@3 35x60@3
ButtonStyle All - Clear
ButtonStyle 1 - MwmDecorMenu
ButtonStyle 4 - MwmDecorMax
ButtonStyle 6 - MwmDecorMin

############
# 7: Modules
#############

# Panel
#
# Note - To use the system tray you must have "stalonetray" installed.
#

DestroyModuleConfig Panel:*
*Panel: Geometry $[vp.width]x30+0+0
*Panel: Colorset 10
*Panel: Rows 1
*Panel: Columns $[vp.width]
*Panel: Frame 0
*Panel: Font "xft:Sarasa Mono K Nerd Font:Bold:size=12:antialias=True"
*Panel: (10x1, Frame 0)
*Panel: (40x1, Id rootmenu, Title "Menu", Action (Mouse 1) Menu MenuFvwmRoot, Action (Mouse 3) Menu MenuIconOps, Colorset 12, Frame 0)
*Panel: (10x1, Frame 0)
*Panel: (25x1, Id desk0, Title "0", Action (Mouse 1) GotoDesk 0 0, Colorset 11, ActiveColorset 12, Frame 0)
*Panel: (25x1, Id desk1, Title "1", Action (Mouse 1) GotoDesk 0 1, ActiveColorset 12, Frame 0)
*Panel: (25x1, Id desk2, Title "2", Action (Mouse 1) GotoDesk 0 2, ActiveColorset 12, Frame 0)
*Panel: (25x1, Id desk3, Title "3", Action (Mouse 1) GotoDesk 0 3, ActiveColorset 12, Frame 0)
*Panel: (25x1, Id desk4, Title "4", Action (Mouse 1) GotoDesk 0 4, ActiveColorset 12, Frame 0)
*Panel: (25x1, Id desk5, Title "5", Action (Mouse 1) GotoDesk 0 5, ActiveColorset 12, Frame 0)
*Panel: (25x1, Id desk6, Title "6", Action (Mouse 1) GotoDesk 0 6, ActiveColorset 12, Frame 0)
*Panel: (10x1, Frame 0)
*Panel: (50x1, Swallow FvwmPager 'Module FvwmPager *', Frame 0)
*Panel: (10x1, Frame 0)
Test (x stalonetray) PipeRead 'echo "*Panel: ($(($[vp.width]*2/3))x1, \
    Top, Swallow FvwmIconMan \'Module FvwmIconMan\', Frame 0)"'
Test (!x stalonetray) PipeRead 'echo "*Panel: ($(($[vp.width]*2/3))x1,\
    Top, Swallow FvwmIconMan \'Module FvwmIconMan\', Frame 0)"'
*Panel: (10x1, Frame 0)
Test (x stalonetray) *Panel: (150x1, Swallow(NoClose,UseOld) \
    stalonetray 'Exec exec stalonetray --icon-size=24 \
    -t --background \"#b4befe\" \
    --kludges force_icons_size --icon-gravity SE', Frame 0)
*Panel: (120x1-0+0, id "TaskTime", ActiveColorset 16, Title "Time", Frame 0)

# Set the time to the current time
PipeRead 'echo "SendToModule FvwmButtons ChangeButton \
    TaskTime Title \"`date +\"%y/%m/%d_%R\"`\""'
# Schedule the time to update every 10 seconds
Schedule Periodic 10000 PipeRead 'echo "SendToModule \
    FvwmButtons ChangeButton TaskTime Title \"`date +\"%y/%m/%d_%R\"`\""'

# FvwmPager
#
# This module displays the location of the windows on the various Pages
# and Desks. This is setup to show only the Pages on the current Desk.
DestroyModuleConfig FvwmPager:*
*FvwmPager: Colorset * 10
*FvwmPager: HilightColorset * 12
*FvwmPager: BalloonColorset * 10
*FvwmPager: WindowColorsets 10 11
*FvwmPager: Font None
*FvwmPager: Balloons All
*FvwmPager: BalloonFont "xft:Sarasa Mono K Nerd Font:Bold:size=12:antialias=True"
*FvwmPager: BallonYOffset +0
*FvwmPager: Window3dBorders
*FvwmPager: MiniIcons
*FvwmPager: UseSkipList

# FvwmIconMan
#
# FvwmIconMan is a powerful tool to list and manage windows. This
# is used as the window list in the panel or taskbar.
DestroyModuleConfig FvwmIconMan:*
*FvwmIconMan: UseWinList true
*FvwmIconMan: ButtonGeometry 30x30
*FvwmIconMan: ManagerGeometry 1x1
*FvwmIconMan: Colorset 10
*FvwmIconMan: FocusColorset 11
*FvwmIconMan: IconColorset 14
*FvwmIconMan: FocusAndSelectColorset 12
*FvwmIconMan: SelectColorset 12
*FvwmIconMan: IconAndSelectColorset 12
*FvwmIconMan: DrawIcons always
*FvwmIconMan: ReliefThickness 0
*FvwmIconMan: Format "%t"
*FvwmIconMan: Font "xft:Sarasa Mono K Nerd Font:Bold:size=12:antialias=True"
*FvwmIconMan: Action Mouse 0 A ret
*FvwmIconMan: Action Mouse 1 A sendcommand IconManClick
*FvwmIconMan: Action Mouse 3 A sendcommand "Menu MenuIconOps"
*FvwmIconMan: Resolution global
*FvwmIconMan: Tips needed
*FvwmIconMan: Sort id

# FvwmEvent
#
# FvwmEvent is a module that can run an action or function
# on specific events. This instance changes which desk number
# is highlighted when the desk is changed.
DestroyModuleConfig EventNewDesk:*
*EventNewDesk: PassID
*EventNewDesk: new_desk ChangeDesk

# Local configuration file. For use with the default-config.
#
# If $FVWMUSER_DIR/local.config ($HOME/.fvwm/local.config by default)
# exists, then read it. This allows changes to default-config settings
# without needing a full copy of the default-config. This will also allow
# default-config changes to get used after upgrades (if applicable).
Test (f $[FVWM_USERDIR]/local.config) Read $[FVWM_USERDIR]/local.config
